.advantages{
	
	@media(min-width:$screen-xs){
		width: 100%;
	}

	@media(min-width:$screen-sm){
		width: 768px;
		&__inner{

			.advantages__item{
				display: inline-block;
				width: 48%;
				padding-bottom: 0;
			}
		}
	}

	@media(min-width:$screen-lg){
		
	}

	&__inner{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4%;

		.advantages__item{
			color: #444444;
			font-size: 18px;
			font-family: 'FiraSans-Medium',sans-serif;
			padding-bottom: 5%;
		}

		.advantages__item--ball:before{
			content:'';
			display: inline-block;
			width: 32px;
			height: 32px;
			background-image: url('../img/sprite.png');
			background-position: -118px -136px;
			margin-right: 4%;
			vertical-align: middle;
		}

		.advantages__item--piloting:before{
			content:'';
			display: inline-block;
			width: 34px;
			height: 34px;
			background-image: url('../img/sprite.png');
			background-position: -80px -136px;
			margin-right: 4%;
			vertical-align: middle;
		}

		.advantages__item--photography:before{
			content:'';
			display: inline-block;
			width: 34px;
			height: 26px;
			background-image: url('../img/sprite.png');
			background-position: -154px -136px;
			margin-right: 4%;
			vertical-align: middle;
		}

		.advantages__item--view:before{
			content:'';
			display: inline-block;
			width: 39px;
			height: 18px;
			background-image: url('../img/sprite.png');
			background-position: -204px 0px;
			margin-right: 4%;
			vertical-align: middle;
		}
	}	
}