.info{

	@media (min-width: $screen-xs){
		width: 100%;

		&__inner{
			.info__fact{

			}
			.info__media{
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm){
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&__inner{
			width: 768px;
			.info__fact{
				.info__fact--title{
					font-size: 32px;
				}
				.info__fact--text{
				}
			}
			.info__media{
				padding: 0;
				margin: 0;
				display: block;
			
				.info__media--video{
					box-shadow: 0px 23px 0px -12px #e6e6e6;
				}
			}
		}
	}

	@media (min-width: $screen-lg){

	}

	&__inner{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 3%;
		.info__fact{
			position: relative;

			.info__fact--title{
				color: #444444;
				font-family: 'FiraSans-Medium', sans-serif;
				font-size: 28px;
				margin-top: 0;
				margin-bottom: 40px;
			}
			
			.info__fact--title:after{
				content:'';
				display: inline-block;
				width: 62px;
				height: 6px;
				background-color: #3e98d7;
				position: absolute;
				top: 47px;
				left: 0;
			}

			.info__fact--text{
				color: #444444;
				font-family: 'FiraSans-Regular', sans-serif;
				font-size: 18px;
				line-height: 24px;
			}
		}
		.info__media{
			iframe{

			}
		}
	}
}