.promo{
	
	
	@media (min-width: $screen-xs){
		width: 100%;
		background-image: url('../img/promo_back-320.jpg');
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		
		&__inner{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding-left: 3%;
			padding-right: 3%;
			padding-top: 15%;
			padding-bottom: 45%;

			.promo__title{
				&--text{
					font-size: 28px;
					text-align: center;
				}
			}
			.promo__description{
				display: none;
			}
			.promo__btn{
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm){

	}

	@media (min-width: $screen-lg){

	}


	&__inner{
		position: relative;
		

		.promo__title{
			&--text{
				font-family: 'FiarSans-Medium', sans-serif;
				color: #fff;
			}
		}
		.promo__description{

		}
		.promo__btn a{
			text-decoration: none;
		}

		.triangle-bottomleft {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			border-bottom: 26px solid #fff; 
			border-right: 52vw solid transparent;	
		}
		.triangle-bottomright {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 0;
			border-bottom: 26px solid #fff; 
			border-left: 52vw solid transparent;
		}
	}
}